.vh {
  border-left: 6px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
}

.mainContainer {
  /* background-color: white; */
  width: 100%;
  height: 100%;
}

.subContainer {
  font-size: 2vh;
  text-align: center;
  align-items: center;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
}

.memoryContainer {
  font-size: 3.5vh;
}

.alignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #15222E;
  color: #fcbe24;
  padding: 5vh 5vh;
  margin: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

hr {
  color: #101a24;
  border-width: 2px;
  border-style: solid;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10vh 0;
  font-size: x-large;
}

h2 {
  font-size: x-large;
}

input {
  font-size: large;
  border: 0;
  border-radius: 5px;
  color: #fcbe24;
  background-color: #101a24;
  font-weight: bold;
  text-align: center;
}


button {
  font-size: large;
  border: 0;
  border-radius: 5px;
  color: #fcbe24;
  background-color: #101a24;
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #1b2b3b;
  transition: 0.3s;
}

button:active {
  background-color: #0e161f;
  transition: 0.1s;
}

input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  width: 99.7%;
  background-color: #101a24;
  border: 0px none;
  color: #fff;
  overflow: auto;
  white-space: pre;
  display: block;
  float: left;
  margin: 0px;
  word-wrap: normal;
  font-size: x-large;
  outline: 0;
  resize: none;
  height: 12rem;
  word-break: break-all;
  /* font-size: x-large;
  width: 10px; */
}