#charArea {
  transition: 0.5s;
}

textarea {
  word-break: break-all;
  width: 99.7%;
  height: 35rem;
  background-color: #101a24;
  
  border: 0px none;
  color: #fff;
  
  display: block;
  float: left;
  margin: 0px;
  word-wrap: break-word;
  font-size: x-large;
  outline: 0;
  resize: none;
}

.vh {
  border-left: 6px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

.subContainer {
  font-size: 2vh;
  text-align: center;
  align-items: center;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
}

body {
  background: #15222E;
  color: #fcbe24;
  padding: 5vh;
  margin: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  transition: 0.5s;
}

h2 {
  font-size: x-large;
}

input {
  font-size: x-large;
  border: 0;
  border-radius: 5px;
  color: #fcbe24;
  background-color: #101a24;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}

.characterContainer {
  padding-bottom: 2vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}